<div data-container="" class="trillo-container trillo-main-container" name="AllCards" nm="AllCards" style="display: flex; flex-direction: row; flex-grow: 1;">
  <div data-component="column" class="trillo-container-column" nm="column_1" name="column_1">
    <div data-component="row" class="trillo-container-row" nm="Row_1" name="Row_1" data-trigger="_initial_" tag="userDefined">
      <div class="content-cell" nm="AccountCard" for-view="AccountCard" data-reference="AccountCard" data-component="view" data-trigger="_initial_" tag="userDefined">
        <div class="card-block p-0 clearfix">
          <i class="fa fa-bell bg-info p-4 px-5 font-2xl mr-3 float-left"></i>
          <div class="h5 mb-0 pt-3 text-center"> $19.999,50 </div>
          <div class="text-muted text-uppercase font-weight-bold font-xs text-center"> Account </div>
        </div>
      </div>
      <div class="content-cell" nm="DealsCard" for-view="DealsCard" data-reference="DealsCard" data-component="view" data-trigger="_initial_" tag="userDefined">
        <div class="card-block p-0 clearfix">
          <i class="fa fa-laptop bg-danger p-4 px-5 font-2xl mr-3 float-left"></i>
          <div class="h5 mb-0 pt-3 text-center"> 789 </div>
          <div class="text-muted text-uppercase font-weight-bold font-xs text-center"> Deals </div>
        </div>
      </div>
    </div>
    <div data-component="row" class="trillo-container-row" nm="Row_2" name="Row_2" data-trigger="_initial_" tag="userDefined">
      <div class="content-cell" nm="IncomeCard" for-view="IncomeCard" data-reference="IncomeCard" data-component="view" data-trigger="_initial_" tag="userDefined">
        <div class="card-block p-0 clearfix">
          <i class="fa fa-moon-o bg-success p-4 px-5 font-2xl mr-3 float-left"></i>
          <div class="h5 mb-0 pt-3 text-center"> $1.999,50 </div>
          <div class="text-muted text-uppercase font-weight-bold font-xs text-center"> Income </div>
        </div>
      </div>
      <div class="content-cell" nm="DealsCard" for-view="DealsCard" data-reference="DealsCard" data-component="view" data-trigger="_initial_" tag="userDefined">
        <div class="card-block p-0 clearfix">
          <i class="fa fa-laptop bg-danger p-4 px-5 font-2xl mr-3 float-left"></i>
          <div class="h5 mb-0 pt-3 text-center"> 789 </div>
          <div class="text-muted text-uppercase font-weight-bold font-xs text-center"> Deals </div>
        </div>
      </div>
    </div>
  </div>
</div>